@font-face {
  font-family: LibreFranklin-ExtraBold;
  src: url("LibreFranklin-Regular.ttf");
}

* {
  margin: 0px;
  padding: 0px;
}

h1 {
  font-family: LibreFranklin-ExtraBold;
  font-size: 64px;
}

h2 {
  font-family: LibreFranklin-ExtraBold;
  font-size: 36px;
}

.website-container {
  margin: 16px;
}

.description {
  font-family: LibreFranklin-ExtraBold;
  font-size: 24px;
  line-height: 24px;
}

.collection-container {
  font-size: 9.5pt;
}
