@font-face {
    font-family: Inter;
    src: url("fonts/InterVariable.woff2");
}

@font-face {
    font-family: EBGaramond;
    src: url("fonts/EBGaramond-VariableFont_wght.ttf");
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* border: 1px dotted blue; */
}

body {
    padding-top: 100px;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.website-body-container {
    height: 100vh;
    border: 1px solid red;
    position: sticky;
    top: 0px;
}


.header-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-decoration: none;
    color: black;
    font-family: 'Inter';
    letter-spacing: 0.5pt;
    font-size: 12pt;
    position: sticky;
    top: 0px;
    background-color: white;
    z-index: 3;
    background-color: white;
    /* border: 1px solid blue; */
}

.header {
    text-decoration: none;
    color: black;
}

.introduction-container {
    width: 100vw;
    height: auto;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    gap: 48px;
    position: relative;
    z-index: 1;
    /* border: 1px solid red; */
    padding: 20px;
    padding-top: 40px;
    padding-bottom: 80px;

}

.primary-body {
    width: 100%;
    max-width: 500px;
    font-size: 14pt;
    line-height: 140%;
    font-family: 'EBGaramond';
    text-indent: 48px;
    letter-spacing: 0.25pt;
    color: rgb(0, 0, 0, 0.75);
}

.expand-bio {
    color: orangered;
    text-decoration: none;
}

.button-grid {
    display: flex;
    width: 100%;
    max-width: 500px;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: center;
    align-items: center;
}

.button {
    padding: 6px 10px;
    font-family: 'Inter';
    border: 1px solid lightgrey;
    color: grey;
    background-color: white;
    font-size: 10pt;
    text-decoration: none;
}

.button:hover {
    background-color: rgb(0, 0, 0, 0.05) ;
}

.gallery-container {
    /* top: 75vh; */
    position: relative;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 100px 8px;
    padding: 40px;
    /* border-top: 1px solid lightgrey; */
    background-color: white;
    z-index: 1;
}

.content-block {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 8px;
    color: black;
    text-decoration: none;
    height: fit-content;
}

.content-block:hover {
    background-color: rgb(0, 0, 0, 0.05);
    cursor: pointer;
}

.content-body-container {
    /* border: 1px solid lightgrey; */
  width: calc(100%);
    object-fit: contain;
    /* background-color: white; */
}

.content-image {
    width: 100%;
    aspect-ratio: 1;
    object-fit: contain;
    /* background-color: white; */
    /* padding: 8px; */
}

.content-plaintext {
    display: inline-block;
    background-color: white;
    aspect-ratio: 1;
    width: calc(100%);
    height: calc(100%);
    padding: 16px;
    font-size: 11pt;
    line-height: 125%;
    font-family: 'EBGaramond';
    text-overflow: ellipsis;
    /* border: 1px solid blue; */
    overflow: scroll;
        border: 1px solid lightgrey;


}

.content-text-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Inter';
    font-size: 9pt;
    gap: 0px;
}

.content-text-title {
    color: rgb(0, 0, 0, 0.5);
    font-weight: 500;
    text-align: center;
}

.content-text-description {
    color: rgb(0, 0, 0, 0.25);
    font-weight: 500;
    text-align: center;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: grey;
    padding: 80px;
}

@media (width < 1200px) {
    .gallery-container {
        grid-template-columns: repeat(4, 1fr);
    }

    
}

@media (width < 900px) {
    .gallery-container {
        grid-template-columns: repeat(2, 1fr);
    }

    
}

@media (width < 600px) {

    body {
        padding-top: 0px;
    }

 .header-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;
    text-decoration: none;
    color: black;
    font-family: 'Inter';
    letter-spacing: 0.5pt;
    font-size: 10pt;
    position: sticky;
    top: 0px;
    background-color: white;
    z-index: 3;
    background-color: white;
    /* border: 1px solid blue; */
}

.header {
    text-decoration: none;
    color: black;

}

.introduction-container {
    width: 100vw;
    height: auto;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    gap: 20px;
    position: relative;
    z-index: 1;
    /* border: 1px solid red; */
    padding: 20px;
    padding-top: 0px;
    padding-bottom: 40px;

}


.primary-body {
    width: 100%;
    font-size: 12pt;
    line-height: 125%;
    text-indent: 48px;
    letter-spacing: 0.2pt;
    color: rgb(0, 0, 0, 0.75);
}

.button {
    padding: 5px 8px;
    font-size: 9pt;
}


    .gallery-container {
        padding: 12px;
        gap: 60px;
        grid-template-columns: repeat(1, 1fr);
        /* border: 1px solid blue; */
    }

    .content-body-container {
        aspect-ratio: initial;
    }

    .content-image {
        height: auto;
        aspect-ratio: inherit;
    }

    .content-plaintext {
    aspect-ratio: inherit;

}
    
}