* {
  margin: 0px;
  padding: 0px;
}

body {
  display: flex;
  justify-content: center;
  margin: 36px 20px 80px 20px;
}

.website-container {
  width: 100%;
  max-width: 464px;
  margin: 28px;
  font-size: 12pt;
  line-height: 16pt;
  margin-top: 40px;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

.indent {
  margin-left: 24px;
  display: inline;
}

.title-text {
  text-align: center;
  font-size: 20pt;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  line-height: 22pt;
}

.info-text {
  text-align: center;
  line-height: 11pt;
  font-size: 9.5pt;
  margin: 32px;
  font-family: sans-serif;
}

.body-text {
  text-align: justify;
}
b {
  font-family: sans-serif;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}
