* {
  margin: 0px;
  padding: 0px;
}

body {
  display: flex;
  justify-content: center;
  margin: 80px 32px 100px 32px;
}

.website-container {
  width: 100%;
  max-width: 464px;
  font-size: 12pt;
  line-height: 16pt;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  text-align: justify;
}

.indent {
  margin-left: 24px;
  display: inline;
}

.title-text {
  text-align: center;
  font-size: 28pt;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  line-height: 28pt;
  letter-spacing: -.05pt;
}

.info-text {
  text-align: center;
  line-height: 12pt;
  font-size: 9.5pt;
  margin: 40px;
  font-family: sans-serif;
  letter-spacing: .25pt;
}

.subheader {
  font-family: sans-serif;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  text-align: left;
  font-weight: bold;
  text-align: center;
  margin-top: 32px;
  margin-bottom: -12px;
}
